//site color variables
$body-color: #071d36;
$bg-color:#18383f;
$secondary-bg-color: #0e345f;
$primary-color: #ff9100;
$secondary-color: #5477F8;
$text-color: #b0b0ff;
$text-color-dark: rgb(225, 232, 250);
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #5f1b1b;
$nav-bg-fade-color: black;
// solid colors
$white: rgb(255, 255, 255);
$black: #000;

// Font Variables
$primary-font: 'Poppins',sans-serif;