{{ with .Site.Data.hero }}
{{ if .enable }}
<section class="hero" id="hero">
  <div class="hero-shape">
    {{ $Section := .heroBgImages }}
    {{ range $Section }}
      <div class="hero-bg-item">
        <img src={{ .url }} alt="" />
      </div>
    {{ end }}
  </div>
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="hero-content">
          <span class="hero-content-subtitle"> {{ .caption }} </span>
          <h1> {{ .title }} </h1>
          <p> {{ .description }} </p>
          <ul class="hero-content-buttons">
              {{ $Button := .storeButtons }}
              {{ range $Button }}
              <li>
                <a href={{ .link }} class="btn-platform">
                  <i>
                    <div class="store-icon">
                      <img src={{ .image }} alt="" />
                    </div>
                  </i>
                  <div class="btn-platform-area">
                    <span> {{ .caption }} </span>
                    {{ .text }}
                  </div>
                </a>
              </li>
              
              {{ end }}

          </ul>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="hero-image">
          <img src={{ .image }} alt="hero-img" />
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}